<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="SlicerIGT" />
    <title>SlicerIGT</title>
    
    <link type="text/css" href="css/reset.css" media="all" rel="stylesheet">
    <link type="text/css" href="css/normalize.css" media="all" rel="stylesheet">
    <link type="text/css" href="css/pages.css" media="all" rel="stylesheet">
  </head>

  <body class="marketing pages">
    
    <header>
      <div class="inner">
        <a class="button left" href="index.html">SlicerIGT</a>
        <a class="button left" href="Examples.html">Examples</a>
        <a class="button left" href="Publications.html">Publications</a>
        <a class="button left" href="Contributors.html">Contributors</a>
        <a class="button left" href="Acknowledgement.html">Funding</a>
        <a class="button classy" href="https://github.com/SlicerIGT/SlicerIGT/wiki"><span>SlicerIGT on GitHub</span></a>
      </div>
    </header>
    
    <section id="content">
      <div class="inner">
      {{ content }}
      </div>
    </section>
    
    <footer>
      <div class="upper_footer"> <!-- -->
        <div class="inner clearfix">
          <!--[if IE]><div id="legal_ie"><![endif]-->
          <p>&copy; 2013 The SlicerIGT Community and the Percutaneous Surgery Laboratory, Queen's University, Kingston, ON, Canada</p>
        </div><!-- /#legal or /#legal_ie-->
      </div><!-- class="lower_footer" -->
    </footer>

  </body>
</html>
